<div class = "main_container">
    <% all_work.each do |work| %>
       
        <div class = "work_images">
            <img src="<%= work['image_url']%>" alt="<%=work['name']%>" srcset="">
            <a href="/work/<%=work['id']%>">
                <%= work['name'] %> 
            </a>
        </div>
    <% end %>
</div>

