<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Hello World</title>
<link rel='stylesheet' href='/stylesheets/main.css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <% if  logged_in? %>

<div class="topnav">
  <ul>
    <li><a href="/"><img class = "topnav_logo" src="https://i.imgur.com/w05vFXw.png" alt="logo"></a></li>
    <li><a href="/"> Home </a></li>
    <li><a href="work"> Create </a></li>
    <li><a class = "current_user_indication"> logged in as <%= current_user.email %>  </a></li>
    <form action="/session" method = "post">
    <input type="hidden" name = "_method" value = "delete">
    <li><button class = "logout_btn"> Logout </button></li>
    </form>
  </ul>
</div>
  
  <% else %>

<ul>
    <li><a href="/"><img class = "topnav_logo" src="https://i.imgur.com/w05vFXw.png" alt="logo"></a></li>
    <li><a href="/">Home</a></li>
    <li><a href="work">Create</a></li>
    <li><button class = "login_btn"><a href="/login">Login</a></li></button>
</ul>


  <% end %>

  <%= yield %>

</body>
</html>
