<h1>Login to your account</h1>
<div class = "login-photo">
    <div class = "login-form">
        <form action="/session" method = "post" class = "login">
        <label for="">email</label>
        <input name = "email" type="text">

        <label for="">password</label>
        <input name = "password" type="password">

        <button class = "login_btn">Login</button>
        </form>
    </div>
</div>
