<h1>Add to your folio</h1>
    <div class = "new_work_form">
        <form action="/work" method="post" class = "new_work">

            <label for="">Name</label>
            <input type="text" name="name">
            <br>
            <label for="">Year</label>
            <input type="text" name="year">
            <br>
            <label for="">Image</label>
            <input type="url" name="image_url" placeholder="">
            <br>
            <label for="">Description</label>
            <input type="text" name="description">
            <br>    
            <label for="">Medium</label>
            <input type="text" name="medium">
            <br>
            <label for="">Designer</label>
            <input type="text" name="designer">

            
            <button class = "submit_btn">Submit</button> 

            </form>
    </div>

