<h1>Register for an account</h1>
<div class = "register-photo">
    <div class = "register-form">
        <div class = "image-holder">
            <form action="/session" method = "post" class = "register">
            <label for="">email</label>
            <input name = "email" type="text">

            <label for="">password</label>
            <input name = "password" type="password">

            <button>Login</button>
            </div>
        </div>
</div>

</form>