img {
    height: 200px;
    width: 300px;
}

h1 {
    font-family: 'TT Norms', sans-serif;
}
a {
    font-family: 'TT Norms', sans-serif;
}

.main_container {
    border: black solid 1px;
    width: 800px;
    align: center;
}