@font-face {
  font-family: Acumin;
  src: url(Acumin-BdPro.OTF);
}

img {
    height: 270px;
    width: 400px;
}

h1 {
    font-family: 'Acumin', sans-serif;
}

h2 {
    font-family: 'Acumin', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
}

a {
    font-family: 'Acumin', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

p {
  font-family: 'Acumin', sans-serif;
}

label {
  font-family: 'Acumin', sans-serif;
}

.main_container {
    margin: 0 auto;
    display: grid;
    padding-top: 80px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    column-gap: 5px;
}


.main_container img {
    display: inline;
}

.topnav {
  background-color: white;
  overflow: hidden;
  text-align: center;
  }

.container{
    clear:both;
    overflow:auto;
}

.work_info_image {
  height: 550px;
  width: 900px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50px;
  border: solid 1px black;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50px;
  border: solid 1px black;
}

input[type=url] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50px;
  border: solid 1px black;
}


.update_btn {
  float: left;
  color: black;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 100px;
  background-color: #0cffb3;
  border-style: none;
  display: inline-block;
  margin: 0 auto;
}

.register_form {
  display: block;
  text-align: center;
  width: 700px;
  height: 700px;
  margin: 0 auto;
}

.register {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.login_form {
  display: block;
  text-align: center;
  background-color: #f4f4f4;
  width: 700px;
  height: 700px;
  margin: 0 auto;
}

.login {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.edit_form {
  display: block;
  text-align: left;
  width: 700px;
  height: 700px;
  margin: 0 auto;
}

.edit_work {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.new_work_form {
  display: block;
  text-align: left;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

.new_work {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.submit_btn {
  float: right;
    color: black;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background-color: #0cffb3;
    border-style: none;
}

.delete_btn {
  float: left;
    color: black;
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 100px;
    background-color: #0cffb3;
    border-style: none;
    padding: 5px;
}

.edit_btn {
  float: left;
    color: black;
    text-align: center;
    width: 400px;
    height: 40px;
    border-radius: 100px;
    background-color: #0cffb3;
    border-style: none;
    padding: 10px;
    margin-left: 10px;
}

.edit_delete_container {
  float: left;
  text-align: center;
}

.form_container {
  display: block;
  text-align: center;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

.work_information {
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: clear;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #0cffb3;
  border-radius: 100px;
  text-decoration: underline;

}

.topnav_logo{
  float:left;
  height: 40px;
  width: 142px;
  padding-right: 60px;
  background-color: none;
} 

.topnav_logo:hover{
  background-color: none;
} 

.current_user_indication:hover {
  text-decoration: none;
  background-color: none;

}

.login_btn {
    color: black;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background-color: #0cffb3;
    border-style: none;
}

.logout_btn {
  color: black;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 100px;
  background-color: #0cffb3;
  border-style: none;
}

.logout_btn:hover {
  background-color: none;
  border-radius: 100px;
  text-decoration: underline;

}