img {
    height: 200px;
    width: 300px;
}

h1 {
    font-family: 'TT Norms', sans-serif;
}

h2 {
    font-family: 'TT Norms', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
}

a {
    font-family: 'TT Norms', sans-serif;
    text-decoration: none;
}

p {
  font-family: 'TT Norms', sans-serif;
}

label {
  font-family: 'TT Norms', sans-serif;
}

.main_container {
    margin: auto;
    width: 60%;
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
}


.main_container img {
    display: inline;
}

.nav_btn > a {
    font-family: 'TT Norms', sans-serif;
    display: inline;
    text-decoration: none;
    color: black;
    text-align: center;
}


.topnav {
    background-color: white;
    overflow: hidden;
    text-align: center;
  }


.container{
    clear:both;
    overflow:auto;
}
  
nav{
  float:right;
}

.logo img{
  float:left;
  height: 33px;
  width: 142px;
  padding-right: 975px;
}
  

/* Style the links inside the navigation bar */
.topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'TT Norms', sans-serif;
}

.topnav button {
    float: right;
    color: black;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background-color: #0cffb3;
    border-style: none;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    text-decoration: underline;
    color: #0cffb3;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    color: black;
    font-family: 'TT Norms', sans-serif;
}

.work_info_image {
  height: 550px;
  width: 900px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50px;
  border: solid 1px black;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50px;
  border: solid 1px black;
}

input[type=url] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50px;
  border: solid 1px black;
}

.login_btn {
    float: right;
    color: black;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background-color: #0cffb3;
    border-style: none;
    display: inline-block;
    margin: 0 auto;
}

.update_btn {
  float: left;
  color: black;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 100px;
  background-color: #0cffb3;
  border-style: none;
  display: inline-block;
  margin: 0 auto;
}

.register_form {
  display: block;
  text-align: center;
  background-color: #f4f4f4;
  width: 700px;
  height: 700px;
  margin: 0 auto;
  background: url(https://images.unsplash.com/photo-1517021818302-9b520a06c834?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-size: cover
}

.register {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.login_form {
  display: block;
  text-align: center;
  background-color: #f4f4f4;
  width: 700px;
  height: 700px;
  margin: 0 auto;
  background: url(https://images.unsplash.com/photo-1517021818302-9b520a06c834?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-size: cover
}

.login {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.edit_form {
  display: block;
  text-align: center;
  width: 700px;
  height: 700px;
  margin: 0 auto;
}
.edit_work {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
}

.new_work_form {
  display: block;
  text-align: center;
  background-color: #f4f4f4;
  width: 700px;
  height: 700px;
  margin: 0 auto;
  background: url(https://images.unsplash.com/photo-1517021818302-9b520a06c834?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-size: cover
}

.new_work {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.submit_btn {
  float: right;
    color: black;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background-color: #0cffb3;
    border-style: none;
}

.new-work-photo {
  padding: 80px 0
}

.login-photo {
  padding: 80px 0
}
